@import 'fonts';

$background: #000011;

html {
  background-color: $background;
  font-size: 14px;
}
.navbar {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  .navbar-list {
    list-style-type: none;
    text-align: center;
    padding: 0;
    li {
      display: inline;
      padding: 1em;
    }
  }
}

.item {
  max-width: 600px;
  margin: 0 auto;

  #message-container {
    transition: opacity .3s cubic-bezier(0.63, 0.64, 0.3, 1);
    text-align: center;
    font-size: 4em;
    padding: 30px;
    &.hide {
      opacity: 0;
    }
    &.show {
      opacity: 1;
    }
  }

}
